on:
  push:
    branches:
      - master
  pull_request:
name: Build
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and deploy RPM
    steps:
      - uses: actions/checkout@v2
        with:
          path: protobuf
      - uses: actions/checkout@v2
        with:
          repository: protocolbuffers/protobuf
          path: google
      - uses: actions/cache@v4
        with:
          path: google_cache
          key: ${{ runner.os }}-google-fc33
      - uses: reznikmm/fedora-ada-action@master
        with:
          spec: protobuf/packages/protobuf.spec
